<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="icon" href = "game.png">
	<link rel="stylesheet" href = "styles.css">
    <title>Carlos's plomery</title>
</head>
<body>
	<div class = "header">
        <img src = "Mario.png" class = "h-img"/>
		<h1 class = "h-title">Carlos's plomery</h1>
	</div>
	<div class="slider-box">
		<ul class = "slider-ul">
			<li class = "slider-li">
				<img src = "p1.png">
				<div class = "text">
					<h2 class = "text-header">Servicio Rápido y Confiable</h2>
					<p class = "text-paragraph">
						Nuestra empresa de plomería garantiza
						 una respuesta rápida y soluciones
						  efectivas para cualquier problema de
						   plomería, asegurando que nuestros 
						   clientes siempre queden satisfechos.
					</p>
				</div>
			</li>
			<li class = "slider-li">
				<img  src = "p2.png">
				<div class = "text">
					<h2 class = "text-header">Técnicos Calificados</h2>
					<p class = "text-paragraph">
						Contamos con un equipo de técnicos altamente capacitados y 
						certificados que pueden manejar desde reparaciones simples 
						hasta instalaciones complejas con la mayor profesionalidad.
					</p>
				</div>

			</li>
			<li class = "slider-li">
				<img  src = "p3.png">
				<div class = "text">
					<h2 class = "text-header">Precios Justos y Transparentes</h2>
					<p class = "text-paragraph">
						Ofrecemos precios competitivos y honestos, sin costos ocultos, 
						brindando a nuestros clientes la mejor relación calidad-precio
						 en servicios de plomería.
					</p>
				</div>

			</li>
			<li class = "slider-li">
				<img  src = "p4.png">
				<div class = "text">
					<h2 class = "text-header">Tecnología de Vanguardia</h2>
					<p class = "text-paragraph">
						Utilizamos las últimas tecnologías y técnicas en plomería 
						para asegurar que cada trabajo se realice de manera eficiente 
						y duradera, superando las expectativas de nuestros clientes.
					</p>
				</div>

			</li>
			<li class = "slider-li">
				<img src = "p5.png">
				<div class = "text">
					<h2 class = "text-header">Atención al Cliente Excepcional</h2>
					<p class = "text-paragraph">
						Nos enorgullece ofrecer un servicio al cliente excepcional, escuchando y 
						respondiendo a las necesidades de nuestros clientes con cortesía y respeto.
					</p>
				</div>
			</li>
		</ul>
	</div>
		</div>
		<h1 class="title">Escríbenos algo!</h1>
		<div class="ctn">
		  <div class="ctn__global">
			<form action="/add" method="post" class="form">
			  <div class="form__group">
				<label class="form__label" for="email">Correo electrónico:</label>
				<input class="form__input" type="email" id="email" name="email" required><br><br>
			  </div>
			  <div class="form__group">
				<label class="form__label" for="nombre">Nombre:</label>
				<input class="form__input" type="text" id="nombre" name="nombre" required><br><br>
			  </div>
			  <div class="form__group">
				<label class="form__label" for="comentario">Comentario:</label>
				<textarea class="form__input" id="comentario" name="comentario" required></textarea><br><br>
			  </div>
			  <div class="form__button-group">
				<input class="form__button" type="submit" value="Enviar">
			  </div>
			</form>
		  </div>
		</div>
		<h1 class="title">Encuentranos en:</h1>
		<div class="google_map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7846.168079896133!2d-66.86181674044136!3d10.494041208379233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a590018f97f53%3A0x5f67780396775d5c!2sChacao%2C%20Caracas%201060%2C%20Miranda!5e0!3m2!1ses!2sve!4v1737139681573!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<div class="footer">
		  <div class="footer__logo"> 
			<img class="footer__logo-img" src="ins.svg" alt="Instagram" href="#"> 
			<img class="footer__logo-img" src="face.svg" alt="Facebook" href="#">
		  </div>
		  <div class="footer__info"> 
			<h4 class="footer__info-title">Más Información</h4> 
			<p class="footer__info-paragraph">Teléfono: 0426 255 2105</p> 
			<p class="footer__info-paragraph">Email: ejemplo@gmail.com</p>
			<p class="footer__info-paragraph">Dirección: Chacao Caracas Guárico</p>
		  </div> 
		  <div class="footer__links"> 
			<a class="footer__link" href="#">Términos y Condiciones</a> 
			<a class="footer__link" href="#">Política de Privacidad</a> 
			<a class="footer__link" href="#">Contacto</a> 
		  </div>
		</div>
		
</body>
</html>