<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href = "logo.svg">
    <link rel="stylesheet" href = "styles.css">
    <title>Éxito</title>
</head>
<body class = "bodi">
  <div class = "suctn">
    <div class = "success">
      <h1 class = "succes_text">Gracias por su comentario</h1>
    </div>
  </div>
</body>
</html>
